@model IEnumerable<SocialMedia.Models.Group>

@{
    ViewData["Title"] = "Groups";
}

<p>
    <a asp-action="UCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsrCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsrCount)
                </td>
                <td>
                    | <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>

<h5>Total combined group capacity:</h5>
<div>
    @Model.Sum(i=>i.UsrCount)
</div>
<hr />
<div>
    <a class="btn btn-primary" type="submit" asp-area="" asp-controller="Users" asp-action="Index">Back to Users</a>
</div>